/*  CSS FILE  */
.mainWrapper{
	min-height: 800px;
	/*background-color: red;*/
}
.header{
	min-height:150px;
	text-align: center;
	font-family: Helvetica;
	font-weight: bold;
	color:red;
	font-size: 20px;
}

.borders{
	border:1px solid #000;
}
.siteBody{
	min-height: 650px;
}
.siteBody > .col-md-4{
	
}
.bodyContainers{
	padding:20px;
	min-height:400px;
}
.bodyContainers > .row {
	color:blue;
}	
.innerContainers{
	min-height:600px;
}
.headers{
	height:150px;
}
.myNav{
	padding-top: 50px;
	padding-left: 50px;
}
.galleryBox{
	min-height:150px;
}
.gallery{
	margin: 10px;
	border:0px dashed black;
	height:150px;
}
.btn-danger{
	background-color:blue;
}
   /*==========  Non-Mobile First Method  ==========*/

    /* Large Devices, Wide Screens */
    @media only screen and (max-width : 1200px) {
		.gallery{
			background-color: red;
			font-size:20px;
			font-weight: bold;
		}    
	}

    /* Medium Devices, Desktops */
    @media only screen and (max-width : 992px) {
    	.gallery{
			background-color: yellow;
			font-size:25px;
			font-weight: bold;

		} 
    }

    /* Small Devices, Tablets */
    @media only screen and (max-width : 768px) {
    	.gallery{
			background-color: blue;
			font-size:30px;
			font-weight: bold;
		} 
    }

    /* Extra Small Devices, Phones */ 
    @media only screen and (max-width : 480px) {
    	.gallery{
			background-color: #000;
			font-size:35px;
			font-weight: bold;
			color:red;
		} 
    }

    /* Custom, iPhone Retina */ 
    @media only screen and (max-width : 320px) {
        .gallery{
			background-color: #CDCDCD;
			font-size:20px;
			font-weight: bold;
		} 	
    }


























